.search-result-card {
  display: flex;
  margin-top: 16px;
  align-self: flex-start;
  max-width: 1000px;
}

.search-result-card:hover {
  cursor: pointer;
}

.search-card__thumbnail {
  height: 200px;
  width: 360px;
  border-radius: 10px;
  transition: border-radius 0.3s ease;
  margin-right: 16px;
}

.search-result-card:hover > .search-card__thumbnail {
  border-radius: 0;
}

.search-card__title {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4;
}

.search-card__views-timestamp,
.search-card__channel-name,
.search-card__channel-description {
  font-size: 12px;
  color: #606060;
  font-weight: 500;
}

.search-card__channel {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.search-card__avatar {
  height: 24px !important;
  width: 24px !important;
}

.search__avatar-wrapper {
  padding-right: 8px;
}
