.searchbar .MuiOutlinedInput-root {
  border-radius: 20px;
}

/* .searchbar
  .MuiOutlinedInput-root
  .MuiInputAdornment-positionEnd
  .MuiIconButton-root { */
/*Adjust the border color and thickness as needed */
/* border-left: 1px solid #000; */
/* Adjust the padding as needed */
/* padding-left: 8px; */
/* Adjust the margin as needed */
/* margin-left: 8px; */
/* } */

.searchbar
  .MuiOutlinedInput-root
  .MuiInputAdornment-positionEnd
  .MuiIconButton-root {
  position: relative;
}

.searchbar
  .MuiOutlinedInput-root
  .MuiInputAdornment-positionEnd
  .MuiIconButton-root::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 0;
  transform: translateY(-50%);
  height: 100%;
  border-left: 1px solid #c4c4c4; /* Adjust the border color and thickness as needed */
}
