.search-page {
  flex: 0.85;
  padding: 0 20px;
}

.search-page__filter-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search-page__filter {
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
}

.search-page__filter > span {
  margin-right: 5px;
}

.search-page__filter:hover {
  background-color: #f2f2f2;
}

.search-page__header {
  margin-top: 12px;
}

.search-page__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
