.sidebar {
  flex: 0.15;
  position: sticky;
  top: 50px;
  overflow-y: auto;
  height: calc(100vh - 50px); /* calculates the top of the sidebar */
}

.sidebar__section {
  padding: 10px 0;
}

.sidebar__section > h4 {
  padding: 6px 12px 4px;
}

.sidebar a {
  text-decoration: none;
  color: inherit;
}

.sidebar a:hover,
.sidebar a:focus {
  color: inherit;
}

.sidebar a:visited {
  color: inherit;
}
